<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- START OF NAVIGATION -->
    <link rel="stylesheet" />
    <script src="/js/navbar-scripts.js" defer=""></script>

    <div class="navbar-veil" style="display: none;">&nbsp;</div>
    <div class="navbar-wrapper navigation animated slideInDown">
      <div class="navbar-mobile-toggle">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-to-toggle="megamenu-mobile"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
      <div class="navbar-inner megamenu-container">
        <!-- Start desktop top-level  -->
        <div class="navbar top-level container">
          <a href="#" class="has-dropdown" data-to-toggle="Energy">Energy</a>
          <a href="#" class="has-dropdown" data-to-toggle="Insurance"
            >Insurance</a
          >
          <a href="#" class="has-dropdown" data-to-toggle="Money">Money</a>
          <a href="#" class="has-dropdown" data-to-toggle="Debt">Debt</a>
          <a href="#" class="has-dropdown" data-to-toggle="More"
            >More Utilities</a
          >
          <!-- <a href="/news/" class="">News</a> -->
        </div>
        <!-- End desktop-top-level  -->

        <div
          class="navbar second-level megamenu-inner"
          data-toggle="megamenu-mobile"
          style="display: none;"
        >
          <!-- Mobile toggle -->
          <a
            class="heading has-dropdown desktop-hidden"
            data-to-toggle="Energy"
          >
            <div class="container">Energy</div>
          </a>
          <!--/Mobile toggle -->

          <!-- Mega panel -->
          <div
            class="navbar megamenu-panel wrapper"
            data-toggle="Energy"
            style="display: none;"
          >
            <div class="navbar megamenu-panel inner container">
              <div class="wrap">
                <div class="row">
                  <div class="col-md-3 text-left">
                    <a class="heading blue">Home Energy</a>
                    <a href="/">Compare Gas &amp; Electricity</a>
                    <a href="#">Compare Electricity</a>
                    <a href="#">Compare Gas</a>
                    <a href="#">Energy Suppliers</a>
                    <a href="#">Dual Fuel Deals</a>
                    <a href="#">Energy Guides</a>
                  </div>
                  <div class="col-md-3 text-left">
                    <a class="heading pink">Business Energy</a>
                    <a href="#" title="Compare Business Energy Prices"
                      >Business Energy</a
                    >
                    <a href="#" title="Compare Business Electricity Rates"
                      >Business Electricity</a
                    >
                    <a href="#" title="Compare Business Gas Prices"
                      >Business Gas</a
                    >
                  </div>
                  <div class="col-md-3 text-left">
                    <a class="heading green">Energy Efficiency</a>
                    <a href="#">Green Homes Grant</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Mega panel -->

          <!-- Mobile toggle -->
          <a
            class="heading has-dropdown desktop-hidden"
            data-to-toggle="Insurance"
          >
            <div class="container">Insurance</div>
          </a>
          <!--/Mobile toggle -->

          <!-- Mega panel -->
          <div
            class="navbar megamenu-panel wrapper"
            data-toggle="Insurance"
            style="display: none;"
          >
            <div class="navbar megamenu-panel inner container">
              <div class="wrap">
                <div class="row">
                  <div class="col-md-3 text-left">
                    <a class="heading blue">Motoring</a>
                    <a href="#">Car Insurance</a>
                    <a href="#">Van Insurance</a>
                    <a href="#">Motorbike Insurance</a>
                    <a href="#">Caravan Insurance</a>
                    <a href="#">Motorhome Insurance</a>
                    <a href="#">Horsebox Insurance</a>
                    <a href="#">Minibus Insurance</a>
                    <a href="#">Breakdown Cover</a>
                  </div>
                  <div class="col-md-6 text-left">
                    <a class="heading pink">Business</a>
                    <div class="row">
                      <div class="col-md-6 text-left">
                        <a href="#">Taxi Insurance</a>
                        <a href="#">Public Liability Insurance</a>
                        <a href="#">Fleet Insurance</a>
                        <a href="#">Motor Trade Insurance</a>
                        <a href="#">Professional Indemnity Insurance</a>
                        <a href="#">Employers Liability Insurance</a>
                        <a href="#">Courier Insurance</a>
                        <a href="#">Catering Van Insurance</a>
                      </div>
                      <div class="col-md-6 text-left">
                        <a href="#">Commercial Property Insurance</a>
                        <a href="#">Private Hire Insurance</a>
                        <a href="#/">Driving Instructor Insurance</a>
                        <a href="#">Food Delivery Insurance</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 text-left">
                    <a class="heading green">Lifestyle</a>
                    <a class="heading blue">Property</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Mega panel -->

          <!-- Mobile toggle -->
          <a class="heading has-dropdown desktop-hidden" data-to-toggle="Money">
            <div class="container">Money</div>
          </a>
          <!--/Mobile toggle -->

          <!-- Mega panel -->
          <div
            class="navbar megamenu-panel wrapper"
            data-toggle="Money"
            style="display: none;"
          >
            <div class="navbar megamenu-panel inner container">
              <div class="wrap">
                <div class="row">
                  <div class="col-md-3 text-left">
                    <a class="heading blue">Mortgages</a>
                    <a href="#">All Mortgages</a>
                    <a href="#">First time buyers</a>
                    <a href="#">Help-to-Buy</a>
                    <a href="#">Moving House</a>
                    <a href="#">Buy-to-Let</a>
                    <a href="#">Remortgage</a>
                    <a href="#">Bad Credit Mortgages</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Mega panel -->

          <!-- Mobile toggle -->
          <a class="heading has-dropdown desktop-hidden" data-to-toggle="Debt">
            <div class="container">Debt</div>
          </a>
          <!--/Mobile toggle -->

          <!-- Mega panel -->
          <div
            class="navbar megamenu-panel wrapper"
            data-toggle="Debt"
            style="display: none;"
          >
            <div class="navbar megamenu-panel inner container">
              <div class="wrap">
                <div class="row">
                  <div class="col-md-3 text-left">
                    <a class="heading blue"
                      >Consumer <em>(England/Wales)</em></a
                    >
                    <a href="#">Individual Voluntary Arrangement</a>
                    <a href="#">Debt Management Plan</a>
                    <a href="#">Debt Relief Order</a>
                    <a href="#">Bankruptcy</a>
                  </div>
                  <div class="col-md-3 text-left">
                    <a class="heading pink">Consumer <em>(Scotland)</em></a>
                    <a href="#">Trust Deed Scotland</a>
                    <a href="#">Debt Arrangement Scheme</a>
                    <a href="#">Sequestration</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Mega panel -->

          <!-- Mobile toggle -->
          <a class="heading has-dropdown desktop-hidden" data-to-toggle="More">
            <div class="container">More Utilities</div>
          </a>
          <!--/Mobile toggle -->

          <!-- Mega panel -->
          <div
            class="navbar megamenu-panel wrapper"
            data-toggle="More"
            style="display: none;"
          >
            <div class="navbar megamenu-panel inner container">
              <div class="wrap">
                <div class="row">
                  <div class="col-md-3 text-left">
                    <a class="heading blue">Household</a>
                    <a href="#">Council Tax</a>
                  </div>
                  <div class="col-md-3 text-left">
                    <a class="heading pink">Commercial</a>
                    <a href="#">Business Rates</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Mega panel -->

          <!-- Mobile menu item -->
          <a href="#" class="desktop-hidden" data-to-toggle="Energy"
            ><div class="container">News</div></a
          >
          <!--/Mobile toggle -->
        </div>
      </div>
    </div>
  </head>
  <body></body>
</html>
